header {
  display: grid;
  padding: var(--shim, 0.5rem);
  place-items: center;
}

h1 {
  font-size: clamp(1.4em, 3em + 6vw, 10vw);
  opacity: 0.7;
  position: relative;
  text-shadow: 1px 1px 0 var(--overlay);
  z-index: 1;

  a:any-link {
    --action: currentColor;
    text-decoration: none;
  }
}
