header {
  display: flex;
  justify-content: space-between;
  padding: var(--shim, 0.5em);
}

header a {
  &:any-link {
    color: mistyrose;
    font-stretch: var(--cond);
    padding: var(--shim, 0.5em);
    text-shadow: 1px 1px 0 black;
  }
}

nav ul {
  display: flex;
  gap: var(--shim, 0.5em);
  list-style: none;
  margin: 0;
  padding: 0;
}
