@use 'sass:color';

body {
  --margin: minmax(var(--gutter, 1em), 1fr);
  display: grid;
  grid-template:
    'nav' auto
    'header' minmax(min-content, 60vh)
    'main' minmax(auto, 1fr)
    'footer' auto
  ;
}

nav {
  grid-area: nav;
  z-index: 1;

  [rel='home']:any-link {
    text-transform: uppercase;
  }
}

#hero {
  grid-area: nav / header / header;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
