{% import "utility.macros.njk" as utility %}
{% import "forms.macros.njk" as forms %}

{% macro form(
  next='/contact/thanks/',
  submit='send',
  attrs={},
  url='/contact/'
) %}
<form
  name="contact"
  method="POST"
  action="{{ next }}"
  netlify-honeypot="subject"
  data-netlify="true"
  {{ utility.show_attrs(attrs) }}>
  <div data-fieldgroup="contact-info">
    {{ forms.field(
      label='Name',
      required=true
    ) }}
    {{ forms.field(
      label='Email',
      type='email',
      required=true
    ) }}
  </div>
  {{ forms.field(
    label='Message',
    type='textarea',
    required=true
  ) }}
  <label hidden>
    <span>Don't fill out this field:</span>
    <input name="subject" />
  </label>
  <label hidden>
    <span>URL:</span>
    <input name="url" value="{{ url }}" />
  </label>
  <div data-actions>
    <button
      data-btn="submit"
      type="submit">
      {{ submit }}
    </button>
  </div>
</form>
{% endmacro %}
