{% import "utility.macros.njk" as utility %}

{% macro datetime(date, format=none) %}
  <time datetime="{{ date | htmlDate }}">
    {%- if format -%}
      {{ date | date(format, 'UTC') }}
    {%- else -%}
      {{ date | date('show', 'UTC') }}
      @ {{ date | date('TIME_SIMPLE', 'America/Denver') }}
    {%- endif -%}
  </time>
{% endmacro %}

{% macro shows(all) %}
  <section class="show-list">
    {%- for show in all | sortBy('date') | reverse -%}
      <article class="show">
        {% set img %}{% image show.data.image.src, show.data.image.alt, false, 'card' %}{% endset %}
        {{- utility.link_if(
          img,
          show.url,
          'hero-img'
        ) -}}
        <h3>
          {{- utility.link_if(show.data.title, show.url) -}}
        </h3>
        {{- datetime(
          date=show.date,
          format='list'
        ) }}
        {{ (show.data.summary or '') | md | safe -}}
      </article>
    {%- endfor -%}
  </section>
{% endmacro %}
