---
layout: base
scripts:
  - https://identity.netlify.com/v1/netlify-identity-widget.js
---

<nav>
  {% if page.url != '/admin/' %}
    <a href="/admin/">« Dashboard</a>
  {% endif %}
  <div data-netlify-identity-menu></div>
</nav>

<main>
  <h1>{{ title }}</h1>
  {{ content | safe }}
</main>
