{%- set hero = feature.data.hero if feature.data else (hero or company.hero) -%}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% set metatitle = [title, company.title]|join(' | ') if title else company.title %}
  <title>{{ metatitle }}</title>
  <meta name="description" content="{{ description or company.summary }}">

  {% if meta_og %}
    <meta name="author" content="Grapefruit Lab">
    <meta property="og:title" content="{{ metatitle }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ company.url }}">
    <meta property="og:description" content="{{ description or company.summary }}">
    <meta property="og:image" content="{{ hero | img('og') | safe }}">
  {% endif %}

  <link rel="icon" href="/favicon.svg" type="image/svg+xml">

  {% for style in styles %}
    <link rel="stylesheet" href="{{ style | url }}">
  {% endfor %}
</head>
<body>
  {{ content | safe }}

  {% for script in scripts %}
    <script type="text/javascript" src="{{ script | url }}"></script>
  {% endfor %}
</body>
</html>
