{%- import "utility.macros.njk" as utility -%}
{%- set feature = collections.features[0] if (collections.features.length > 0) and (page.url == '/') else none -%}
{%- set image = feature.data.image if feature else image or company.hero -%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% set metatitle = [title, company.title]|join(' | ') if title else company.title %}
  <title>{{ metatitle }}</title>
  <meta name="description" content="{{ description or company.body }}">
  <meta name="author" content="Grapefruit Lab">

  <meta property="og:title" content="{{ metatitle }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ company.url }}">
  <meta property="og:description" content="{{ description or company.body }}">
  {# <meta property="og:image" content="image.png"> #}

  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>
<body>
  <nav>
    <a href="/" rel="home">
      <b>Grapefruit</b> Lab
    </a>
    <ul>
      {% for item in nav %}
        {% set itemPage = collections.all | getPage(item.url) %}
        <li>{{ utility.link_if(
          item.title or itemPage.data.title | lowercase,
          item.url,
          'active' if (item.url == page.url) else none
        ) }}</li>
      {% endfor %}
    </ul>
  </nav>

  {% if image %}
  <div id="hero">
    {% if image.sanity %}
      {{ image.sanity | safe }}
    {% else %}
      {% img11ty image.src, image.alt %}
    {% endif %}
  </div>
  {% endif %}

  <header>
    {% if feature %}
      <p class="pretitle">Presenting:</p>
    {% endif %}
    <h1>
      {% if feature %}
        {{ utility.link_if(feature.data.title, feature.url)}}
      {% else %}
        {{ title }}
      {% endif %}
    </h1>
    {% if sub or feature.data.sub %}
      <p class="subtitle">{{ (feature.data.sub or sub) | mdi | safe }}</p>
    {% endif %}
  </header>

  <main>
    {{ content | safe }}

    {% for location in run %}
      <section class="run">
        <h2 class="venue">{{ location.venue }}</h2>
        <p class="adr">{{ location.adr }}</p>
        <ul>
          {% for show in location.shows %}
            <li>
              <time datetime="{{ show.date.toISOString() }}">
                {{ show.date.toLocaleDateString('en-US') }}
                @ {{ show.time }}
              </time>
              {{ (show.note or '') | md | safe }}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </main>

  <footer>
    <div>
      <p class="description">{{ company.body | mdi | safe }}</p>
      <p class="legal">
        Copyright &copy; {{ page.date.getUTCFullYear() }}
        <strong>{{ company.title }}</strong>
      </p>
    </div>
  </footer>
</body>
</html>
