{%- import "utility.macros.njk" as utility -%}
{%- set feature = collections.all | getPage(feature) if feature else none -%}
{%- set image = feature.data.image if feature else image -%}
{%- set imgpath = ['/images/', image.src or site.image.src] | join -%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% set metatitle = [title, company.title]|join(' | ') if title else company.title %}
  <title>{{ metatitle }}</title>
  <meta name="description" content="{{ description or company.description }}">
  <meta name="author" content="Grapefruit Lab">

  <meta property="og:title" content="{{ metatitle }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.grapefruitlab.com/">
  <meta property="og:description" content="{{ description or company.description }}">
  {# <meta property="og:image" content="image.png"> #}

  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>
<body>
  <nav>
    <a href="/" rel="home">
      <b>Grapefruit</b> Lab
    </a>
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
  </nav>

  {% if imgpath %}
  <div id="hero">
    <img src="{{ imgpath }}" alt="{{ image.alt }}">
  </div>
  {% endif %}

  <header>
    <h1>
      {% if feature %}
        {{ utility.link_if(feature.data.title, feature.url)}}
      {% else %}
        {{ title }}
      {% endif %}
    </h1>
  </header>

  <main>
    {{ content | safe }}
  </main>
  <footer>
    Copyright &copy; {{ page.date.getUTCFullYear() }} {{ company.title }}
  </footer>
</body>
</html>
