<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/css/script.css' | url }}">
</head>
<body>
  <header>
    <h1><a href="../">{{ title }}</a></h1>
    <label for="print-size">
      <span>Font size (pt):</span>
      <input type="number" value="12" name="print-size" id="print-size" step="0.5">
    </label>
  </header>
  {{ content | safe }}
  <script>
    const root = document.documentElement;
    const fsInput = document.getElementById('print-size');
    fsInput.addEventListener('change', () => {
      root.style.setProperty('--fs-print', fsInput.value);
    });
  </script>
</body>
</html>
