---
title: Admin Dashboard
permalink: '/admin/'
---

<h2>Tickets</h2>

{% for show in admin.shows | sortBy('date') %}
  {% if show.run.length > 0 %}
    <details {% if show.onsale %}open{% endif %}>
      <summary>
        {% if show.onsale %}💸{% endif %}
        {{ show.title }}
      </summary>
      <table>
        <thead>
          <th>Date</th>
          <th data-num>Seats</th>
          <th data-num>Sold</th>
          <th data-num>Remaining</th>
          <th data-num>Income</th>
        </thead>
        <tbody>
          {% for perf in show.run | sortBy('date') %}
            {% set admin_perf = admin.perfs | find(['id', perf.id]) %}
            <tr>
              <th>
                <a href="perfs/{{ perf.show }}/{{ perf.id }}/">{{ perf.date | date }}</a>
              </th>
              <td data-num>{{ perf.seats }}</td>
              <td data-num>{{ perf.sold }}</td>
              <td data-num>{{ perf.onSale }}</td>
              <td data-num>${{ admin_perf.income }}</td>
            </tr>
          {% endfor %}
          <tfoot>
            <tr>
              {% set perfs = admin.perfs | filter('show', show.id) %}
              {% set seats = perfs | getAll('seats') | sum %}
              {% set sold = perfs | getAll('sold') | sum %}
              <th>Totals</th>
              <td data-num>{{ seats }}</td>
              <td data-num>{{ sold }}</td>
              <td data-num>{{ seats - sold }}</td>
              <td data-num>${{ perfs | getAll('income') | sum }}</td>
            </tr>
          </tfoot>
        </tbody>
      </table>
    </details>
  {% endif %}
{% endfor %}


{% md %}
## Links

- [Site Content](https://gfl-studio.vercel.app/prod/desk/)
- [Stripe Dashboard](https://dashboard.stripe.com/dashboard)
- [Github](https://github.com/mirisuzanne/grapefruitlab/)
- [Netlify](https://app.netlify.com/sites/grapefruitlab/)

## Selling Tickets

To sell tickets for a show:

- Add 'Performances' in the CMS
- Add 'Products' to Stripe
  - remove 'prices'
  - set `sanity_id` to use the CMS performance ID
- Set CMS 'Show' to be 'on-sale'
{% endmd %}
