---
pagination:
    data: admin.perfs
    size: 1
    alias: perf
permalink: '/admin/perfs/{{ perf.show }}/{{ perf.id }}/'
eleventyComputed:
  title: '{{ perf.date | date }}'
  summary: '{{ perf.notes }}'
---

{{ summary | md | safe }}

{% if perf.tickets %}
<table>
  <thead>
    <tr>
      <th>checkin</th>
      <th>name</th>
      <th>count</th>
      <th>note</th>
    </tr>
  </thead>
{% for ticket in perf.tickets %}
  <tr data-show="{{ perf.id }}">
    <td class="checkin">
      <input type="checkbox" name="{{ ticket.name | slug }}" id="{{ ticket.name | slug }}" {% if ticket.checkedIn %}checked{% endif %}>
    </td>
    <td class="name">
      <label for="{{ ticket.name | slug }}">{{ ticket.name }}</label>
    </td>
    <td class="count">{{ ticket.count }}</td>
    <td class="notes">{{ ticket.notes }}</td>
  </tr>
{% endfor %}
</table>
{% endif %}
