---
pagination:
    data: admin.perfs
    size: 1
    alias: perf
    serverless: eleventy.serverless.path.id
permalink:
  dynamic: '/admin/perfs/:id/'
eleventyComputed:
  title: '{{ perf.date | date }}'
  summary: '{{ perf.notes }}'
---

{{ summary | md | safe }}

{% if perf.tickets %}
<table>
  <thead>
    <tr>
      <th>checkin</th>
      <th>name</th>
      <th>count</th>
      <th class="notes">note</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in perf.tickets %}
      <tr>
        <td class="checkin">
          <input type="checkbox" name="{{ ticket.name | slug }}" id="{{ ticket.name | slug }}" {% if ticket.checkedIn %}checked{% endif %}>
        </td>
        <td class="name">
          <label for="{{ ticket.name | slug }}">{{ ticket.name }}</label>
        </td>
        <td class="count">{{ ticket.count }}</td>
        <td class="notes">{{ ticket.notes }}</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <th>Total</th>
      <td class="count">{{ perf.sold }}/{{ perf.seats }}</td>
      <td class="notes">({{ perf.onSale }} remaining)</td>
    </tr>
  </tfoot>
</table>

<section class="emails">
<h2>Emails</h2>

<ul>
{% for ticket in perf.tickets %}
  {% if ticket.email %}
    <li>{{ ticket.email }}</li>
  {% endif %}
{% endfor %}
</ul>

{% endif %}
</section>
