@use '../config/color';
@use 'sass:meta';

html {
  @each $var, $value in meta.module-variables('color') {
    --#{$var}: #{$value};
  }

  background-color: var(--bg);
  color: var(--fg);
  font-size: calc(1em + 0.25vmin);
  height: 100%;
}

body {
  min-height: 100%;
}
