@use 'sass:meta';

html {
  --large: calc(1.2em + 0.25vw);
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
  font-stretch: var(--cond);
  font-weight: 600;
}

strong, b {
  font-stretch: var(--cond);
  font-weight: 600;
}

a:any-link {
  color: var(--action);
}

a:hover,
a:focus,
a:active {
  color: var(--focus);
}

blockquote {
  font-style: italic;

  p:last-child {
    font-style: normal;
  }
}
